body {
    width: auto;
    height: 100vh;
}

#quote-box {
    border: 2px red solid;
    width: 500px;
    height: 300px;
    place-self: center;
    text-align: center;
    max-width: 720px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
gap: 20px;
}